body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFEA8;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.buttonPart {
    background-color: #FFFEA8;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.buttonPart .content { 
    width: 32%;
    margin-top: 2rem;
}

.buttonPart .button {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #fff;
    color: #0C79A8;
    border: 2px solid $border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
}
